body{
    margin:0 auto;
    height: 100vh;
    background-size:cover;
    background-image: url(backgroundcoctails.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.header-line{
    width: 550px;
    margin-top: 90px;
    margin-left: 40px;
    font-size: 80px; 
    color: aliceblue;
    text-shadow: 1px 1px 1px #000;
    background: rgba(255, 255, 255, 0.7);
}
.body{
    
    background: rgba(255, 255, 255, 0.7);
}
.content{
    margin-top: 50px;
    margin-left: 40px;
    padding-top: 40px;
    font-size: 25px;
    font-family: 'Edu SA Beginner', cursive;

}
.coctailName{
    font-weight: 500;
    
}
.botton-line{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    

}
